<h1> <%=@project.title %> </h1>

			<ul class="tabs">
				<li><a href="#tab1">Summary</a></li>
				<li><a href="#tab2">Key Dates</a></li>
				<li><a href="#tab3">Issues/Reworks</a></li>
				<li><a href="#tab4">Resources </a></li>  <!-- collab/poll style. what do you use this for most? -->
				
			</ul>

			<div class="tab_container">
			<!-- This is where you create your tabs and place the content inside each div -->

				<div id="tab1" class="tab_content">
					<br/>
					<div class = "grid_4">
						<p><%= @project.client.name %></p>
						<p><%= @project.frequency %></p>
						<p><%= @project.notes %></p>
					</div>
					
					<div class="grid_4">
						<p><%= @project.title %></p>
						<p><%= @project.project_type %>
					</div>
								
				</div>
				<div id="tab2" class="tab_content">

					<div class="grid_4">
						<p><%= @project.contract_start %></p>
						<p><%= @project.contract_end %>
					</div>
					
					<div class="grid_4">
						<p><%= @project.start_date %></p>
						<p><%= @project.qa_date %>
						<p><%= @project.end_date %>
					</div>
						
						
				</div>
				
				<div id="tab3" class="tab_content">
					<div class="grid_4">
						<p><%= @project.changes_codes %></p>
						<p><%= @project.changes_layouts %></p>
						<p><%= @project.rework %></p>
					</div>
					
					<div class="grid_4">
						<p><%= @project.issue %></p>
						<p><%= @project.notes %></p>
						
					</div>
					
				  
				</div>
				
				<div id="tab4" class="tab_content">
				    <p> Use this tab to store things like contact info, file links, documentation, etc. </p>
				</div>
				
			</div>
			
		
