<h1> <%=@project.title %> </h1>

			<ul class="tabs">
				<li><a href="#tab1">Summary</a></li>
				<li><a href="#tab2">Key Dates</a></li>
				<li><a href="#tab3">Issues/Reworks</a></li>
				<li><a href="#tab4">Resources </a></li>  
				
			</ul>

			<div class="tab_container">
			<!-- This is where you create your tabs and place the content inside each div -->
			
			<%= form_for(@project) do |f| %>
			  <% if @project.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
			
			      <ul>
			      <% @project.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
				
			
				<div id="tab1" class="tab_content">
					<br/>
					<div class = "grid_4">
						
						<p>
							<strong> <%= f.label :client_id %></strong><br />
	     					 <%= collection_select(:project, :client_id, Client.all, :id, :name) %> 
     					 </p>
     					 
     					 
     					<p>	 
	   						 <strong><%= f.label :frequency %></strong><br />
	    					 <%= f.select :frequency, Project::FREQUENCIES, :prompt => "Select Frequency" %>
    					 </p>
    					 
    					 <p>
	    					 <strong><%= f.label :project_type %></strong><br />
	    					 <%= f.select :project_type, Project::TYPES, :prompt => "Select Type" %> 
 						 </p>
					</div>
					
					<div class="grid_4">
						<p>
							<strong><%= f.label :title %></strong><br/>
							<%= f.text_field :title, :size => 40 %>
						</p>
						<p>
							<strong><%= f.label :sales_rep %></strong><br />
	    					<%= f.text_field :sales_rep %>
    					</p>
    					
    					<p>
	    					<strong><%= f.label :developer %></strong><br />
	   					 	<%= f.text_field :developer %>
   						</p>	
   						
   						<p>
	   						<strong><%= f.label :ba %></strong><br />
	    					<%= f.text_field :ba %>
    					</p>
   					</div>
								
				</div>
				<div id="tab2" class="tab_content">
					<br/>
					<div class="grid_4">
						<p>
							<strong><%= f.label :contract_start %></strong><br />
	    					<%= f.text_field :contract_start  %>
    					</p>	
    					
    					<p>
	    					<strong><%= f.label :contract_end %></strong><br />
	    					<%= f.text_field :contract_end %>
						</p>
					</div>
					
					<div class="grid_4">
						<p>
							 <strong><%= f.label :start_date %></strong><br />
	    					 <%= f.text_field :start_date %>
    					 </p>
    					 
    					 <p>
	    					 <strong> <%= f.label :qa_date %></strong><br />
	    					  <%= f.text_field :qa_date %>
    					 </p>
    					 
    					 <p>
	    					 <strong> <%= f.label :end_date %></strong><br />
	    					  <%= f.text_field :end_date %>
    					  </p>
					</div>
				</div>
				
				<div id="tab3" class="tab_content">
					<br/>
					<div class="grid_4">
						<p>
							 <strong><%= f.label :changes_layouts %></strong><br />
	    					 <%= f.text_area :changes_layouts, :cols => "30", :rows => "9" %>
    					 </p>
    					 
    					 <p>
	    					<strong><%= f.label :changes_codes %></strong><br />
	    					<%= f.text_area :changes_codes, :cols => "30", :rows => "9" %>
    					</p>
					</div>
					
					<div class="grid_4">
						<p>
							<strong><%= f.label :rework %></strong><br />
	    					<%= f.select :rework, Project::REWORKS, :prompt => "Select Rework" %>
    					</p>
    					
    					<p>
	    					<strong> <%= f.label :issue %></strong><br />
	    					 <%= f.select :issue, Project::ISSUES, :prompt => "Select Issue" %>
    					 </p>
    					<p>
							<strong> <%= f.label :notes %></strong><br />
	    					 <%= f.text_area :notes, :cols => "30", :rows => "9" %>
    					 </p>
						 <p>  <%= f.hidden_field(:user_id, :value => current_user.id ) %></p>
					</div>
				</div>
				
				<div id="tab4" class="tab_content">
					<br/>
					<div class="grid_4">
				    	<p> Use this tab to store things like contact info, file links, documentation, etc. </p>
				    </div>
				</div>
				
				
				<input type="submit" value="Save Project" class="sexybutton sexysimple" />
				<br/>
				<br/>
				<a class="sexybutton sexysimple sexyred" href="/projects"> Go Back </a>
			</div>
			
		<% end %>
