<table id="projects_table">
  <tr>
    <th><%= sortable "@project.client.name", "Client" %></th>
    <th><%= sortable "title", "Title" %></th>
    <th><%= sortable "project_type", "Type" %></th>
	<th><%= sortable "frequency", "Frequency" %></th>
   

    <th colspan = "3"></th>
  
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= project.client.name %></td>
    <td><%= project.title %></td>
    <td><%= project.project_type %></td>
    <td><%= project.frequency %></td>
 
    <td>
    <div class="button-group">
	    <%= link_to 'Details', project, :class => "button" %>
	    <%= link_to 'Edit', edit_project_path(project), :class =>"button" %>
	    <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete, :class => "button danger" %>
	</div>
    </td>
  </tr>
<% end %>
</table>