<h1> <%=@project.title %> </h1>

<%= link_to "Edit Project", edit_project_path(@project), :class => "sexybutton sexysimple sexyblue right" %>

			<ul class="tabs">
				<li><a href="#tab1">Summary</a></li>
				<li><a href="#tab2">Key Dates</a></li>
				<li><a href="#tab3">Issues/Reworks</a></li>
				<li><a href="#tab4">Resources </a></li>  <!-- collab/poll style. what do you use this for most? -->
				
			</ul>

			<div class="tab_container">
			<!-- This is where you create your tabs and place the content inside each div -->
			
				<div id="tab1" class="tab_content">
					<br/>
					<div class = "grid_4">
						<p><strong>Client</strong> <br/><%= @project.client.name %></p>
						<p><strong>Frequency</strong> <br/><%= @project.frequency %></p>
						<p><strong>Notes</strong> <br/> <%= @project.notes %></p>
					</div>
					
					<div class="grid_4">
						<p><strong>Title</strong> <br/><%= @project.title %></p>
						<p><strong>Type</strong> <br/> <%= @project.project_type %>
					</div>
								
				</div>
				<div id="tab2" class="tab_content">

					<div class="grid_4">
						<p><strong>Contract Star</strong>t<br/><%= @project.contract_start %></p>
						<p><strong>Contract End</strong><br/><%= @project.contract_end %>
					</div>
					
					<div class="grid_4">
						<p><strong>Start Date</strong><br/><%= @project.start_date %></p>
						<p><strong>QA Date<br/></strong><%= @project.qa_date %>
						<p><strong>End Date</strong><br/><%= @project.end_date %>
					</div>
						
						
				</div>
				
				<div id="tab3" class="tab_content">
					<div class="grid_4">
						<p><strong>Code Changes</strong><br/><%= @project.changes_codes %></p>
						<p><strong>Layout Changes</strong><br/><%= @project.changes_layouts %></p>
						<p><strong>Reworks</strong><br/><%= @project.rework %></p>
					</div>
					
					<div class="grid_4">
						<p><strong>Issues</strong><br/><%= @project.issue %></p>
						<p><strong>Notes</strong> <br/><%= @project.notes %></p>
						
					</div>
					
				  
				</div>
				
				<div id="tab4" class="tab_content">
				    <p> Use this tab to store things like contact info, file links, documentation, etc. </p>
				</div>
				
			</div>
			
		
